<div class="card mat-card seccion">
    <div class="row color-primary-dark">
      <div class="row">
        <h3 class="col-11 m-2">Educación</h3>
        <a href="#sumar" class="col-1 btn-edicion float-end"><i class="fa-solid fa-plus"></i></a>
        <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
      </div>
    </div>
    <div class="seccion row">
      <ul *ngFor="let educacion of educacionList">
        <li >{{educacion.primaria}}</li>
        <li>{{educacion.secundaria}}</li>
        <li>universidad</li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>