<div class="row">
    <!--MENU-->
    <app-menu></app-menu>

    <!--ENCABEZADO-->
    <app-encabezado></app-encabezado>
    
    <!--ACERCA DE...-->
    <app-acerca></app-acerca>

    <!--EDUCACION-->
    <app-educacion></app-educacion>

    <!--IDIOMAS-->
    <app-idiomas></app-idiomas>

    <!--EXPERIENCIA LABORAL-->
    <app-experiencia></app-experiencia>

    <!--SKILLS Y GRAFICOS-->
    <app-skills></app-skills>

    <!--PROYECTOS-->
    <app-proyectos></app-proyectos>

    <!--FOOTER-->
    <app-footer></app-footer>
</div>


    