<Footer>
    <div class="card card-mat seccion">
      <div class="row color-primary-dark">
        <div class="row">
          <h3>Tecnología utilizada para crear este porfolio: </h3>
        </div>
      </div>
      <div class="row">
        <div class="fa-3x">
          <i class="fa-brands fa-html5 lenguaje"></i>
          <i class="fa-brands fa-css3-alt lenguaje"></i>
          <i class="fa-brands fa-bootstrap lenguaje"></i>
          <i class="fa-brands fa-angular lenguaje"></i>
          
        </div>
      </div>
      <div class="row">
        <div class="fa-3x">
          <i class="fa-brands fa-java lenguaje"></i>
          <i class="fa-brands fa-js lenguaje"></i>
          <!--<img src="./assets/9074220_typescript_icon.png" alt="typescript" style="size: 1fr;">-->
          <i class="fa-brands fa-github lenguaje"></i>
          <!-- <img src="./assets/4691303_mysql_icon.png" alt="mySQL" style="size-adjust: 25%;"> -->
          <!-- <img src="./assets/4691533_firebase_icon.png" alt="firebase"> -->
        </div>
      </div>
    </div>
  </Footer>