<div class="row">
  <div class="col-md-1 col-lg-1 m-3"></div>
  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
    <h3>HTML</h3>
    <circle-progress
        [percent]="95"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8c7b75'"
        [innerStrokeColor]="'#bcaaa4'"
        [showSubtitle]="false"
        [responsive]="false"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
  
  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
    <h3>CSS</h3>
    <circle-progress
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8c7b75'"
        [innerStrokeColor]="'#bcaaa4'"
        [showSubtitle]="false"
        [responsive]="false"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress>
  </div>

  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
    <h3>JAVASCRIPT</h3>
    <circle-progress
        [percent]="55"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8c7b75'"
        [innerStrokeColor]="'#bcaaa4'"
        [showSubtitle]="false"
        [responsive]="false"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>
</div>

<div class="row">
  <div class="col-md-1 col-lg-1 m-3"></div>
  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
    <h3>Python</h3>
    <circle-progress
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8c7b75'"
        [innerStrokeColor]="'#bcaaa4'"
        [showSubtitle]="false"
        [responsive]="false"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>

  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
    <h3>Trabajo en equipo</h3>
    <circle-progress
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8c7b75'"
        [innerStrokeColor]="'#bcaaa4'"
        [showSubtitle]="false"
        [responsive]="false"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>


  <div class="col-sm-12 col-md-3 col-lg-3 text-center">
    <h3>Compromiso</h3>
    <circle-progress
        [percent]="100"
        [radius]="100"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#8c7b75'"
        [innerStrokeColor]="'#bcaaa4'"
        [showSubtitle]="false"
        [responsive]="false"
        [animation]="true"
        [animationDuration]="1000"
    ></circle-progress>
  </div>

</div>