<div class="card mat-card seccion">
    <div class="row color-primary-dark">
      <h3 class="col-11 p-3">Experiencia Laboral</h3>
      <a href="#sumar" class="col-1 btn-edicion float-end"><i class="fa-solid fa-plus"></i></a>
      <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
    </div>
    <div class="row">
      <div class="col-2"></div>
        <img src="{{experiencia.url_img_empresa}}" alt="">
      <div class="col-9">
        <ul>
            <li><h3>{{experiencia.nombreEmpresa}}</h3> - <h5>{{experiencia.entreAnios}}</h5></li> 
            <p>{{experiencia.descripcion}}</p>
        </ul>
      </div>
    </div>
</div>