<div class="card mat-card seccion">
    <div class="row color-primary-dark">
      <h3 class="col-11 p-3">Experiencia Laboral</h3>
      <button type="button" class="col-1 btn btn-primary text-center float-end" (click)="onOpenModal('add')" data-bs-toggle="modal" data-bs-target="#addExperienciaModal">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>
    <div class="row" *ngFor="let exp of experiencia">
      <div class="col-2">
        <img src="{{exp.imagenExp}}" alt="">
      </div>
      <div class="col-8">
        <ul>
            <li><h3>{{exp.tituloExp}}</h3> - <h5>{{exp.entreAniosExp}}</h5></li> 
            <p>{{exp.descripcionExp}}</p>
        </ul>
      </div>
      <div class="col text-center">
        <button (click)="onOpenModal('edit', exp)" 
          class="col-1 btn-edicion btn btn-primary tooltips" data-placement="top" 
          data-bs-toggle="modal" data-bs-target="#editExperienciaModal" data-original-title="Edit">
          <i class="fa-solid fa-pencil"></i></button>
        <button (click)="onOpenModal('delete', exp)" 
          class="col-1 btn-edicion btn btn-secondary tooltips" data-placement="top" 
          data-bs-toggle="modal" data-bs-target="#deleteExperienciaModal" data-original-title="Delete">
          <i class="fa-solid fa-circle-xmark"></i></button>
      </div>
    </div>
</div>

 <!--Boton Agregar-->
  <div class="modal fade" id="addExperienciaModal" tabindex="-1" aria-labelledby="addExperienciaModalLabel"
              aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addExperienciaModalLabel">Agregar Experiencia</h5>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddExperiencia(addForm)">
            <div class="form-group">
              <label for="tituloExp">Título</label>
              <input type="text" ngModel name="tituloExp" class="form-control" id="tituloExp" placeholder="Título" required>
            </div>
            <div class="form-group">
              <label for="descripcionExp">Descripción</label>
              <input type="text" ngModel name="descripcionExp" class="form-control" id="descripcionExp" placeholder="Breve descripción" required>
            </div>
            <div class="form-group">
              <label for="imagenExp">Imagen</label>
              <input type="text" ngModel name="imagenExp" class="form-control" id="imagenExp" placeholder="Url de imagen" required>
            </div>
            <div class="form-group">
              <label for="entreAniosExp">Entre años</label>
              <input type="text" ngModel name="entreAniosExp" class="form-control" id="entreAniosExp" placeholder="Entre años" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-experiencia-form" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

  <!--Boton Modificar-->
  <div class="modal fade" id="editExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="editExperienciaModalLabel"
              aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editExperienciaModalLabel">Editar Experiencia {{editExperiencia?.tituloExp}}</h5>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" >
            <div class="form-group">
              <label for="tituloExp">Título</label>
              <input type="text" ngModel = "{{editExperiencia?.tituloExp}}" name="tituloExp" class="form-control" id="tituloExp" placeholder="Título" required>
              <input type="hidden" ngModel="{{editExperiencia?.idExp}}" name="idExp" class="form-control" id="idExp" placeholder="">
            </div>
            <div class="form-group">
              <label for="descripcionExp">Descripción</label>
              <input type="text" ngModel="{{editExperiencia?.descripcionExp}}" name="descripcionExp" class="form-control" id="descripcionExp" placeholder="Breve descripción" required>
            </div>
            <div class="form-group">
              <label for="imagenExp">Imagen</label>
              <input type="text" ngModel="{{editExperiencia?.imagenExp}}" name="imagenExp" class="form-control" id="imagenExp" placeholder="Url de imagen" required>
            </div>
            <div class="form-group">
              <label for="entreAniosExp">Entre años</label>
              <input type="text" ngModel="{{editExperiencia?.entreAniosExp}}" name="entreAniosExp" class="form-control" id="entreAniosExp" placeholder="Entre años" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="onUpdateExperiencia(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>

  <!--Borrar entrada-->
  <div class="modal fade" id="deleteExperienciaModal" tabindex="-1" role="dialog" aria-labelledby="deleteExperienciaModalLabel"
              aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteExperienciaModalLabel">Borrar Experiencia {{deleteExperiencia?.tituloExp}}</h5>
        </div>
        <div class="modal-body">
            <p>
              ¿Seguro quiere borrar la entrada? {{deleteExperiencia?.tituloExp}}
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button (click)="onDeleteExperiencia(deleteExperiencia!.idExp)" data-bs-dismiss="modal" class="btn btn-danger">Borrar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="experiencia?.length == 0" class="col-lg-6">
    <div class="col-6 text-center alert alert-info" role="alert">
      <h3>Sin datos</h3>
      <p>No hay datos cargados...</p>
    </div>
  </div>