<div class="container-flex">
    
    <div class="row container-fuid">
      <div class="col-12 img-fluid">
        <img src="../../../assets/pexels-pixabay-270348.jpg" alt="banner" id="banner">
      </div>
      <div class="ola ">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#8c7b75" fill-opacity="1" d="M0,224L80,224C160,224,320,224,480,186.7C640,149,800,75,960,53.3C1120,32,1280,64,1360,80L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
      </div>
    </div>

    <div class="row container-fluid">
      <div class="col-xs-11 col-sm-2 col-md-2">
        <!--<img [src]="miPorfolio.img" alt="" class="img-fluid"> -->
        <img src="../../../assets/man avatar.png" alt="" class="" id="foto_perfil">
        
        <a href="#edit" class="col-1 btn-edicion float-end" id="pencil_foto_perfil"><i class="fa-solid fa-pencil flex-item"></i></a>
      </div>

    <div class="row p-3 m-3">
      <div class="col-xs-12 col-6 flex-item">
        <h1 class="text-left flex-item" id="nombre">William Kurt Morales<!--{{miPorfolio.fullname}}--></h1> 
      </div>

    <div class="row p-3 m-3">
      <div class="col-xs-8 col-6 text-left flex-item ">
        <h2>Full Stack Developer Jr.<!--{{miPorfolio.position}}--></h2>
        <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
      </div>
    </div>
          
        
      </div>
    </div>

  </div> 