<div class="container-flex">
    <div class="hero"></div>
    <div class="ola">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#6f532a4d" fill-opacity="0.3" d="M0,224L80,224C160,224,320,224,480,186.7C640,149,800,75,960,53.3C1120,32,1280,64,1360,80L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
    </div>
    <div class="row">
      <!--<img [src]="miPorfolio.img" alt="" class="img-fluid"> -->
      <!--<img src="./assets/code_image.jpg" alt="" class="img-fluid">-->
      
      <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil flex-item"></i></a>
    </div>
    <div class="row info-data">
      <div class="row-sm p-3 m-3">
        <h1 class="text-left flex-item col-3">{{miPorfolio.fullname}}</h1> 
        <a href="#edit" class="col-1 btn-edicion  col-6"><i class="fa-solid fa-pencil"></i></a>
        <div class="info-company">
          {{miPorfolio.position}}
        </div>
        <div class="info-contact">
          <span>{{miPorfolio.ubication}}</span>
          <span><a href="#">Información de contacto</a></span>
        </div>
      </div>
    </div>


    <div class="container-flex row">
      <div class="m-3 p-3">
        <span>Edad: </span>
        <span >{{miPorfolio.age}}</span>
      </div>
    </div>

  </div> 