<div class="card mat-card seccion" id="acerca">
    <div class="row color-primary-dark">
        <h3 class="col-11 p-3">Acerca de mí</h3>
        <a href="#sumar" class="col-1 btn-edicion "><i class="fa-solid fa-plus"></i></a>
        <a href="#edit" class="col-1 btn-edicion "><i class="fa-solid fa-pencil"></i></a>
    </div>
    <div class="row">
      <div class="col-xs-12 col-12 p-4 m-1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, placeat reiciendis laborum sint at velit inventore itaque minima officiis qui fuga quam, quis cum est laudantium odio debitis vitae veritatis!</p>
      </div>
    </div>
</div>