<div class="card card-mat seccion">
    <div class="row color-primary-dark">
      <div class="row">
        <h3 class="col-11 m-2">Idiomas</h3>
        <a href="#sumar" class="col-1 btn-edicion float-end"><i class="fa-solid fa-plus"></i></a>
        <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
      </div>
    </div>
    <div class="row seccion">
      <ul>
          <li>Inglés</li>
            <ul>
              <li></li>
            </ul>
          <li>Francés</li>
            <ul>
              <li></li>
            </ul>
        </ul>
    </div>
  </div>