footer {
  text-align: center;
  justify-items: center;
  color: white;
}

.contenedor {
  background-color: #8c7b75;
}

.lenguaje {
  margin: 0.5em;
}

#linea {
  border-top: 14px solid black;
  height: 2px;
  max-width: 200px;
  margin: 20px auto 20px auto;
}

a {
  color: white;
}

.contenido {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em;
  margin-bottom: 5em;
}

/*#toTop {
  display: flex;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none;
  background-color: #8c7b75;
  color: white; 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px;
}

#toTop, i{
  color: aliceblue;
}*/
