<div class="card card-mat seccion" id="proyectos">
    <div class="row color-primary-dark">
      <h3 class="col-11 p-3">Proyectos</h3>
      <a href="#sumar" class="col-1 btn-edicion float-end"><i class="fa-solid fa-plus"></i></a>
      <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
    </div>
    <div class="container">
      <div class="row my-2 p-5">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <a href="#"><img src="{{proyectos.url_img_proyecto}}" alt="Porfolio web" class="img-thumbnail img-fluid"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>{{proyectos.nombreProyecto}}</h3>
          <p>{{proyectos.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>