<div class="card mat-card seccion" id="proyectos">
    <div class="row color-primary-dark">
      <h3 class="col-10 p-3">Proyectos</h3>
      <div class="col-1" *ngIf="isLogged">
        <button type="button" class="btn btn-primary col-1 text-center float-end" data-bs-toggle="modal" data-bs-target="#addProyectosModal" (click)="onOpenModal('add')"> 
          <i class="fa-solid fa-plus"><span class="sr-only"></span></i>
        </button>
      </div>
    </div>
    <div class="main-container" *ngFor="let proyecto of proyectos">
      <div class="row my-2 p-5">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <a href="{{proyecto.urlProy}}" target="_blank"><img src="{{proyecto.imagenProy}}" alt="Sin imagen" class="img-thumbnail img-fluid"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>{{proyecto.tituloProy}}</h3>
          <p>{{proyecto.descripcionProy}}</p>
        </div>
        <div class="col text-center" *ngIf="isLogged">
          <button type="button" (click)="onOpenModal('edit', proyecto)" 
            class="btn-edicion btn btn-primary col-1 tooltips" data-placement="top" 
            data-bs-toggle="modal" data-bs-target="#editProyectosModal" data-original-title="Edit">
            <i class="fa-solid fa-pencil"></i></button>
          <button (click)="onOpenModal('delete', proyecto)" 
            class="col-1 btn-edicion btn btn-secondary tooltips" data-placement="top" 
            data-bs-toggle="modal" data-bs-target="#deleteProyectosModal" data-original-title="Delete">
            <i class="fa-solid fa-circle-xmark"></i></button>
        </div>
      </div>
    </div>
  </div>


  <!--Boton Agregar-->
  <div class="modal fade" id="addProyectosModal" tabindex="-1" aria-labelledby="addProyectosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProyectosModalLabel">Agregar Proyecto</h5>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProyectos(addForm)">
            <div class="form-group">
              <label for="tituloProy">Título</label>
              <input type="text" ngModel name="tituloProy" class="form-control" id="tituloProy" placeholder="Título" required>
            </div>
            <div class="form-group">
              <label for="descripcionProy">Descripción</label>
              <input type="text" ngModel name="descripcionProy" class="form-control" id="descripcionProy" placeholder="Breve descripción" required>
            </div>
            <div class="form-group">
              <label for="imagenProy">Imagen</label>
              <input type="text" ngModel name="imagenProy" class="form-control" id="imagenProy" placeholder="Url de imagen" required>
            </div>
            <div class="form-group">
              <label for="urlProy">URL del Proyecto</label>
              <input type="text" ngModel name="urlProy" class="form-control" id="urlProy" placeholder="Url del Proyecto" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-proyectos-form" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <!--Boton Modificar-->
  <div class="modal fade" id="editProyectosModal" tabindex="-1" role="dialog" aria-labelledby="editProyectosModalLabel"
              aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProyectosModalLabel">Editar Proyecto {{editProyectos?.tituloProy}}</h5>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" >
            <div class="form-group">
              <label for="tituloProy">Título</label>
              <input type="text" ngModel = "{{editProyectos?.tituloProy}}" name="tituloProy" class="form-control" id="tituloProy" placeholder="Título" required>
              <input type="hidden" ngModel="{{editProyectos?.idProy}}" name="idProy" class="form-control" id="idProy" placeholder="">
            </div>
            <div class="form-group">
              <label for="descripcionProy">Descripción</label>
              <input type="text" ngModel="{{editProyectos?.descripcionProy}}" name="descripcionProy" class="form-control" id="descripcionProy" placeholder="Breve descripción" required>
            </div>
            <div class="form-group">
              <label for="imagenProy">Imagen</label>
              <input type="text" ngModel="{{editProyectos?.imagenProy}}" name="imagenProy" class="form-control" id="imagenProy" placeholder="Url de imagen" required>
            </div>
            <div class="form-group">
              <label for="urlProy">Url del Proyecto</label>
              <input type="text" ngModel="{{editProyectos?.urlProy}}" name="urlProy" class="form-control" id="urlProy" placeholder="Url del Proyecto" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button (click)="onUpdateProyectos(editForm.value)" data-bs-dismiss="modal" class="btn btn-primary">Guardar Cambios</button>
        </div>
      </div>
    </div>
  </div>

  <!--Borrar entrada-->
  <div class="modal fade" id="deleteProyectosModal" tabindex="-1" role="dialog" aria-labelledby="deleteProyectosModalLabel"
              aria-hidden="true">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProyectosModalLabel">Borrar Proyecto {{deleteProyectos?.tituloProy}}</h5>
        </div>
        <div class="modal-body">
            <p>
              ¿Seguro quiere borrar la entrada? {{deleteProyectos?.tituloProy}}
            </p>
            <div class="modal-footer">
              <button type="button" id="" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button (click)="onDeleteProyectos(deleteProyectos!.idProy)" data-bs-dismiss="modal" aria-label="close" class="btn btn-danger">Borrar</button>
            </div>
        </div>
      </div>

    </div>


  </div>

  <div *ngIf="proyectos?.length == 0" class="col-lg-6">
    <div class="col-6 text-center alert alert-info" role="alert">
      <h3>Sin datos</h3>
      <p>No hay datos cargados...</p>
    </div>
  </div>