<div class="card card-mat seccion" id="proyectos">
    <div class="row color-primary-dark">
      <h3 class="col-11 p-3">Proyectos</h3>
      <a href="#sumar" class="col-1 btn-edicion float-end"><i class="fa-solid fa-plus"></i></a>
      <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
    </div>
    <div class="container">
      <div class="row my-2 p-5">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <a href="#"><img src="" alt="Porfolio web" class="img-thumbnail img-fluid"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>Porfolio</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint praesentium et facilis nihil harum veritatis suscipit illum voluptate at veniam, aperiam alias iste quos labore nostrum voluptates eaque consequatur! Voluptas.</p>
        </div>
      </div>

      <div class="row my-2 p-5">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <a href="https://laboratorio-cation.web.app"><img src="" alt="Laboratorio Cation" class="img-thumbnail img-fluid"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>Laboratorio Cation</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint praesentium et facilis nihil harum veritatis suscipit illum voluptate at veniam, aperiam alias iste quos labore nostrum voluptates eaque consequatur! Voluptas.</p>
        </div>
      </div>

      <div class="row my-2 p-5">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <a href="https://bodega-mendez.web.app/"><img src="./assets/Screenshot Bodega Raúl Mendez.png" alt="Proyecto Bodega Mendez" class="img-thumbnail img-fluid"></a>
        </div>
        <div class="col-1"></div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3>Bodega Artesanal</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint praesentium et facilis nihil harum veritatis suscipit illum voluptate at veniam, aperiam alias iste quos labore nostrum voluptates eaque consequatur! Voluptas.</p>
        </div>
      </div>
    </div>
  </div>