<div class="card card-mat seccion">
    <div class="row color-primary-dark">
      <h3 class="col-11 p-3">Idiomas</h3>
      <a href="#sumar" class="col-1 btn-edicion float-end"><i class="fa-solid fa-plus"></i></a>
      <a href="#edit" class="col-1 btn-edicion float-end"><i class="fa-solid fa-pencil"></i></a>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <ul>
            <li><h3>Idioma 1</h3> - <h5>(years)</h5></li> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic exercitationem maxime perferendis odio expedita nostrum delectus ad, reprehenderit nisi, dolorum asperiores, ipsam nihil sint suscipit perspiciatis iusto vel incidunt maiores.</p>
            <li><h3>Idioma 2</h3> - <h5>(years)</h5></li> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic exercitationem maxime perferendis odio expedita nostrum delectus ad, reprehenderit nisi, dolorum asperiores, ipsam nihil sint suscipit perspiciatis iusto vel incidunt maiores.</p>
            <li><h3>Idioma 3</h3> - <h5>(years)</h5></li> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic exercitationem maxime perferendis odio expedita nostrum delectus ad, reprehenderit nisi, dolorum asperiores, ipsam nihil sint suscipit perspiciatis iusto vel incidunt maiores.</p>
            
        </ul>
      </div>
    </div>
  </div>